:root {
    --background: #f8f8f8;
    --dark: black;
    --liquid: blue;
  }
.box {
    position: relative;
    background: var(--dark);
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    border: 0.25rem solid var(--dark);
    height: 100%;
  width: 100%;
    outline: 0;
    overflow: hidden; /* Set to none to see fill square outside box */
  }
  .box::before {
    content:"Testing";
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .box::after {
    content: "wq";
    position: absolute;
     bottom: -50%;  
    /* left: -50%;    */
    height: 200%;
    width: 200%;
    background-color: green;
    border-radius: 45%; /* Smooth edges to appear like liquid */
    animation: spin 7s ease-in-out infinite; 
    /* Set to forwards to freeze on last frame */
  }
  
  @keyframes spin {
    0% {
      transform: translateY(0) rotate(0deg);
    }
    100% {
      transform: translateY(-100%) rotate(400deg);
    }
  }